<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846706377299-kqb6fi6tour40g3111vlqbktg6d6jgus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846706377299-kqb6fi6tour40g3111vlqbktg6d6jgus</string>
	<key>API_KEY</key>
	<string>AIzaSyBnV4xvs83nbwOvEKxv8lGXTZHKvHowx2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>846706377299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCourse</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-9836d</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-9836d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846706377299:ios:9412f8e39b61c75191bca6</string>
</dict>
</plist>